.about-container{
  padding: 6em 2em 6em 2em;
}

.subcontainer{
  display: flex;
}

.about-row{
  width: 50%;
  margin: auto;
}

.about-image-content{
  margin: auto;
  padding: 6em;
}

@media (max-width: 991.9px) {
  .subcontainer{
    display: block;
  }
  
  .about-row{
    width: 100%;
  }

  .about-image-content{
    padding: 3em;
    max-width: 350px;
  }
}


